@import url('leaflet/dist/leaflet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* For React Leaflet Draw */
.sr-only {
  display: none;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 122 30% 50%; /* Dark Green */
    --primary-light: 122 30% 90%; /* Light Green */
    --primary-dark: 122 30% 20%; /* Darker Green */
    --primary-foreground: 0 0% 100%;

    --secondary: 60 40% 50%; /* Alasbaster */
    --secondary-light: 60 40% 95%; /* Alasbaster */
    --secondary-dark: 60 40% 60%; /* Alasbaster */
    --secondary-foreground: 222.2 30% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 195 40% 50%; /* Blue */
    --accent-light: 210 40% 98%; /* Light Blue */
    --accent-dark: 210 40% 94%; /* Dark Blue */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0 90%; /* Light Gray */
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply overflow-hidden bg-background text-foreground;
  }
}

@layer components {
  #main-container {
    @apply relative flex;
  }

  #sidebar-close {
    @apply border-border absolute p-6 top-0 right-0 w-[60px] bg-white/70 backdrop-blur-sm  h-full z-30 flex flex-col items-center justify-start;
    @apply transition-transform duration-700 ease-in-out transform;
  }
  #sidebar-open {
    @apply border-border absolute top-0 right-0 w-[420px] bg-white/70 backdrop-blur-sm h-full z-30 flex-col items-center justify-start;
    @apply overflow-y-auto transition-transform duration-700 ease-in-out transform;
  }

  /* in the middle of the screen */
  #edit-panel {
    z-index: 1000;
    @apply absolute p-3 transform -translate-x-1/2 bg-white border-2 shadow-lg bottom-2 border-border left-1/2;
  }

  #map-container {
    @apply z-30 w-full h-full;
  }
}

@layer utilities {

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .marker-cluster {
    @apply bg-primary text-primary-foreground;
  }


}